/* for flex layout */
#NavyBase .flex-row
{
    display: flex;

    flex-flow: row nowrap;
}
#NavyBase .flex-column
{
    display: flex;

    flex-flow: column nowrap;
}
#NavyBase .flex-wrap
{
    flex-wrap: wrap;
}
